---
title: "{{ first_name }} {{ last_name }}"
date: 2019-10-22T11:14:44-07:00
current: {{ current }}
affiliation: ["{{ rank }}"]
rank_id: "{{ rank_id }}"
tags: []
draft: false
website: ["{{ web_page }}"]
featured_image: "{{ picture }}"
---
{{ description }}
