<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="" />
        <title>Noah Spahn - Software/Network Engineer | Research Associate |Adjunct Faculty</title>
        <link rel="icon" type="image/x-icon" href="assets/favicon.ico" />
        <!-- Core theme CSS (includes Bootstrap)-->
        <link href="assets/css/scroll-styles.css" rel="stylesheet" />
    </head>
    <body id="page-top">
        <!-- Navigation-->
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top" id="mainNav">
            <div class="container px-4">
                <a class="navbar-brand" href="#page-top">{{ site.title }}</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
                <div class="collapse navbar-collapse" id="navbarResponsive">
                    <ul class="navbar-nav ms-auto">
                        <li class="nav-item"><a class="nav-link" href="#about">About</a></li>
                        <li class="nav-item"><a class="nav-link" href="#teaching">Teaching</a></li>
                        <li class="nav-item"><a class="nav-link" href="#publications">Publications</a></li>
                    </ul>
                </div>
            </div>
        </nav>
        <!-- Header-->
        <header class="bg-primary bg-gradient text-white">
            <div class="container px-4 text-center">
                <h1>{{ site.title }}</h1>
                <!-- <h1><a href="{{ "/" | absolute_url }}">{{ site.title | default: site.github.repository_name }}</a></h1> -->
                <p class="lead">Software/Network Engineer | Adjunct Professor</p>
            </div>
        </header>
        <!-- About section-->
        <section id="about">
            <div class="container px-4">
                <div class="row gx-4 justify-content-center">
                    <div class="col-lg-6">
                        <h2>About</h2>
                        {{ content }}
                    </div>
                    <div class="col-lg-2 d-none d-lg-block d-print-none">
                        <img src="{{site.logo | relative_url}}" alt="Logo" />
                    </div>
                </div>
            </div>
        </section>
        <!-- Services section-->
        <section class="bg-light" id="teaching">
            <div class="container px-4">
                <div class="row gx-4 justify-content-center">
                    <div class="col-lg-8">
                        <h2>Teaching & Presentations</h2>
                        <p class="lead">Westmont</p>
                        <ul>
                          <li>CS105 [2019, 2021]</li>
                        </ul>
                        <p class="lead">UCSB</p>
                        <ul>
                          <li>Software Carpentry [2019]</li>
                        </ul>
                        <p class="lead">Conferences</p>
                        <ul>
                          <li>UCCSC [2016, 2017, 2019]</li>
                        </ul>
                    </div>
                </div>
            </div>
        </section>
        <!-- Contact section-->
        <section id="publications">
            <div class="container px-4">
                <div class="row gx-4 justify-content-center">
                    <div class="col-lg-8">
                        <h2>Publications</h2>
                    </div>
                </div>
            </div>
        </section>
        <!-- Footer-->
        <footer class="py-5 bg-dark">
            <div class="container px-4">
            <p>
            <p class="m-0 text-center text-white">maintained by <a href="{{ site.github.owner_url }}">{{ site.github.owner_name }}</a></p>
            </div>
        </footer>
        <!-- Bootstrap core JS-->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js"></script>
        <!-- Core theme JS-->
        <script src="assets/js/scroll-scripts.js"></script>
    </body>
</html>
